:root {
    --color-primary: #E76F51;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Common / Shared Styles */
header,
main {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 20px;
}

header,
section {
    margin-bottom: 70px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:active {
    background-color: white;
    color: var(--color-primary);
}

.section-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

.section-title span {
    color: var(--color-primary);
}

.featured-bikes .section-title {
    margin-bottom: 0;
}

.featured-bikes-desc {
    font-size: 0.8rem;
    color: var(--color-primary);
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}


.featured-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.featured-image-container img {
    max-width: 320px;
}

/* Header */
/* Nav */
nav {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    gap: 10px;
    padding-block: 22px;
}


.nav-links a {
    color: black;
    text-decoration: none;
    padding: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;

}

.page-title {
    flex-grow: 1;

    font-size: 32px;
    font-weight: 700;
}


.nav-links-container-ham {
    display: none;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s;
}

.nav-links-container-ham .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.ham-nav-opener {
    display: none;
    cursor: pointer;
}


/* Header Slide */
.header-section {
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.header-section::-webkit-scrollbar {
    display: none;
}

.slider-container {
    width: 400%;
    display: flex;
}

.slider-container>div {
    width: 100%;
    height: fit-content;
    position: relative;

    background-color: #E76F511A;
}

.slide-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 80px;
}

.slide-item>div {
    width: 48%;
}

.slide-item img {
    width: 100%;
    max-height: 360px;
}

.arrow-left,
.arrow-right {
    position: absolute;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.slide-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 125%;
}

.slide-desc {
    font-size: 1rem;
    line-height: 162%;
    color: #000000CC;
    margin-block: 20px;
}

/* Latest News */
.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.news-item {
    max-width: 320px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #00000026;
}

.news-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.news-item .item-title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 8px;
}

.news-item .item-desc {
    color: #6C6C6C;
    font-size: 1rem;
    line-height: 200%;
    margin-bottom: 12px;
}


/* Client Review */
.client-review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.review-item {
    max-width: 310px;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding: 30px 25px;
    text-align: center;
}

.review-item>img {
    max-width: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.review-item .item-desc {
    color: #6C6C6C;
    font-size: 1rem;
    line-height: 200%;
    margin-bottom: 10px;
}

.review-item .ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 18px;
}

.review-item .ratings img {
    width: 20px;
}

/* pass = passion */
.review-item .user-name,
.review-item .user-pass {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 170%;
}

.review-item .user-name {
    color: #23A6F0;
    margin-bottom: 15px;

}

/* FAQ */
.faq-sect-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.faq-sect-container>div {
    max-width: 500px;
}

.faq .section-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq .section-image-container img {
    width: 80%;
}

.faq-item {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #D5E5FB;
    margin-bottom: 15px;
}

.faq-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.1rem;
    color: #383838;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 15px;
    cursor: pointer;
}


.faq-label img {
    transition: transform 0.3s;
}

.faq-desc {
    font-size: 0.9rem;
    line-height: 175%;
    color: #7E848C;
    width: 92%;
    overflow: hidden;
}

.faq-desc-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;
}

/* Open Answer when Radio Button is Checked */
.faq-open:checked~.faq-desc-container {
    grid-template-rows: 1fr;
}

.faq-open:checked~.faq-label img {
    transform: rotate(180deg);
}

/* Footer */
footer {
    background-color: #0B0D17;
    color: white;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 30px;
}

.links-container a {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 1rem;
    margin-bottom: 8px;
}

.links-container>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.copyright {
    padding-inline: 8px;
}

.app-links h4 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 155%;
    margin-bottom: 15px;
}

.app-links-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app-links-container img {
    width: 130px;
}




/* Media Queries */

/* width < 840px */
@media screen and (max-width: 840px) {
    .slide-item {
        flex-direction: column;
        /* padding: ; */
    }

    .slide-item>div {
        width: auto;
        max-width: 500px;
        margin-inline: auto;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .links-container>div {
        justify-content: center;
        flex-wrap: wrap;
    }

}

/* width < 620px */
@media screen and (max-width: 620px) {
    .section-title {
        font-size: 1.4rem;
    }

    .nav-links-container {
        display: none;
    }

    nav {
        grid-template-columns: min-content 1fr min-content;
    }

    .page-title {
        text-align: center;
    }

    .ham-nav-opener {
        display: flex;
        justify-content: flex-start;
    }

    .nav-links-container-ham {
        grid-column: span 3 / span 3;
        display: grid;
    }

    #ham-nav-open:checked~.nav-links-container-ham {
        grid-template-rows: 1fr;
    }

    .slide-item {
        padding: 20px 40px;
    }

    .slide-title {
        font-size: 1.6rem;
    }

    .faq-label {
        gap: 8px;
    }
}