:root {
    --color-primary: #E76F51;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Common / Shared Styles */
header,
main {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 20px;
}

header,
section {
    margin-bottom: 70px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:active {
    background-color: white;
    color: var(--color-primary);
}

.section-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.featured-bikes-desc {
    font-size: 0.8rem;
    color: var(--color-primary);
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}


.featured-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.featured-image-container img {
    max-width: 320px;
}

/* Header */
/* Nav */
nav {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    gap: 10px;
    padding-block: 22px;
}


.nav-links a {
    color: black;
    text-decoration: none;
    padding: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;

}

.page-title {
    flex-grow: 1;

    font-size: 32px;
    font-weight: 700;
}


.nav-links-container-ham {
    display: none;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s;
}

.nav-links-container-ham .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.ham-nav-opener {
    display: none;
    cursor: pointer;
}


/* Header Slide */
.header-section {
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.header-section::-webkit-scrollbar {
    display: none;
}

.slider-container {
    width: 400%;
    display: flex;
}

.slider-container>div {
    width: 100%;
    height: fit-content;
    position: relative;

    background-color: #E76F511A;
}

.slide-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 80px;
}

.slide-item>div {
    width: 48%;
}

.slide-item img {
    width: 100%;
    max-height: 360px;
}

.arrow-left,
.arrow-right {
    position: absolute;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.slide-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 125%;
}

.slide-desc {
    font-size: 1rem;
    line-height: 162%;
    color: #000000CC;
    margin-block: 20px;
}


/* Media Queries */

/* width < 840px */
@media screen and (max-width: 840px) {
    .slide-item {
        flex-direction: column;
        /* padding: ; */
    }

    .slide-item>div {
        width: auto;
        max-width: 500px;
        margin-inline: auto;
    }


}

/* width < 620px */
@media screen and (max-width: 620px) {
    .section-title {
        font-size: 1.4rem;
    }

    .nav-links-container {
        display: none;
    }

    nav {
        grid-template-columns: min-content 1fr min-content;
    }

    .page-title {
        text-align: center;
    }

    .ham-nav-opener {
        display: flex;
        justify-content: flex-start;
    }

    .nav-links-container-ham {
        grid-column: span 3 / span 3;
        display: grid;
    }

    #ham-nav-open:checked~.nav-links-container-ham {
        grid-template-rows: 1fr;
    }

    .slide-item {
        padding: 20px 40px;
    }

    .slide-title {
        font-size: 1.6rem;
    }
}